<section class="container-fluid p-5">
  <div class="list-group">
    <a href="https://github.com/yanpassaro" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Git Hub</h5>
          <img src="assets/github.svg" width="20" height="20" alt="github">
      </div>
    </a>
    <a href="https://www.linkedin.com/in/yanpassarinho/" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Linkedin</h5>
        <img src="assets/linkedin.svg" width="20" height="20" alt="linkedin">
      </div>
    </a>
    <a class="list-group-item list-group-item-action" href="mailto:yannpassaro.dev@gmail.com">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Email</h5>
        <img src="assets/gmail.svg" width="20" height="20" alt="gmail">
      </div>
    </a>
  </div>
</section>
