<footer class="footer bg-light container-fluid p-4">
  <div class="d-inline p-3">
    <a routerLink="">
      <img src="assets/yan-logo-branca.png" width="30" height="30" alt="...">
    </a>
  </div>
  <div class="d-inline p-3 text-muted" style="font-size: 14px">
    Yan Silva
  </div>
  <div class="d-inline p-3">
    <a routerLink="" class="me-5 link-secondary">Home</a>
    <a routerLink="projects" class="me-5 link-secondary">Projects</a>
    <a routerLink="contact" class="me-5 link-secondary">Contact</a>
    <a routerLink="about" class="link-secondary">About</a>
  </div>
</footer>

