<footer class="footer container-fluid p-3 ps-5 pe-5">
  <hr>
  <div class="d-inline-block p-4">
    <a routerLink="">
      <img src="assets/yan-logo-branca.png" width="25" height="25" alt="...">
    </a>
    <div class="d-inline text-muted ms-1" style="font-size: 12px">
      Yan Silva
    </div>
  </div>
  <div class="d-inline-block float-end p-4">
    <a routerLink="" class="me-5 link-secondary" style="font-size: 12px;">Home</a>
    <a routerLink="projects" class="me-5 link-secondary" style="font-size: 12px;">Projetos</a>
    <a routerLink="contact" class="me-5 link-secondary" style="font-size: 12px;">Contato</a>
    <a routerLink="about" class="link-secondary" style="font-size: 12px;">Sobre</a>
  </div>
</footer>

