<section class="container-fluid p-5">
  <div class="row g-0 position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="assets/yan-logo.png" class="rounded-circle img-thumbnail" width="550" height="550" alt="yan-silva">
    </div>
    <div class="col-md-6 p-4 ps-md-0 mt-5">
      <p class="mt-5">
        <button class="btn font-monospace" style="background-color: #070707; color: #F0F8FF" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
                aria-expanded="false" aria-controls="collapseWidthExample">
                Breve introdução
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <h3 class="mt-5 text-black">Yan Silva</h3>
          <p class="card-subtitle">Desenvolvedor Full-Stack</p>
          <p class="mt-3">
            Desenvolvedor de Software, desde de 2019.
            Entusiasta em aprender e praticar, com foco no desenvolvimento com Spring, Angular e outras
            tecnologias para criação e manutenção de aplicações web.
            Me considero hábil em aprender novas linguagens e me adaptar a mudanças, sem medo de novos desafios.
          </p>
          <a routerLink="about" class="link-info mt-5">Descubra mais</a>
        </div>
      </div>
    </div>
  </div>
</section>

