<section class="container-fluid p-5 ">
  <div class="row row-cols-auto g-4">
    <div class="col">
      <div class="card" style="width: 450px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=candi&theme=nord&border_color=4F4F4F&bg_color=4F4F4F"
          class="card-img-bottom" alt="...">
        <div class="card-body">
          <h4 class="card-title">Candi API</h4>
          <p class="card-text">Built with Spring, candi is a technology solution for recruiters (HR).</p>
          <a href="https://github.com/yanpassaro/candi" class="btn btn-sm"
             style="background-color: #4F4F4F; color: #F0F8FF">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
    <div class="col ms-5">
      <div class="card" style="width: 450px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=api-login&theme=nord&border_color=4F4F4F&bg_color=4F4F4F"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Login API</h4>
          <p class="card-text">Login and registration system with email verification and token authentication.</p>
          <a href="https://github.com/yanpassaro/api-login" class="btn btn-sm"
             style="background-color: #4F4F4F; color: #F0F8FF">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
  </div>
</section>
