<section class="container-fluid p-3">
  <div class="text-black h3 pt-3 ps-2">Projetos</div>
  <div class="row row-cols-auto">
    <div class="col">
      <div class="card mt-3" style="width: 380px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=candi&theme=white&icon_color=070707&border_radius=0&text_color=070707&title_color=070707"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title"> Candi  </h6>
          <p class="card-text"> Baseada em spring, Candi foi uma api construída com intuito de desenvolver uma solução tecnológica para auxilio no processo de contratação. </p>
          <a href="https://github.com/yanpassaro/candi" class="btn btn-sm float-end"
             style="background-color: #070707; color: #F0F8FF; font-size: 12px;">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1 d-inline" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-3" style="width: 380px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=login-api&theme=white&icon_color=070707&border_radius=0&text_color=070707&title_color=070707"
          class="card-img-top" alt="github stats">
        <div class="card-body">
          <h6 class="card-title"> Login api  </h6>
          <p class="card-text"> Baseada em spring, Essa é uma api desenvolvida para criar um ambiente de registro e login, utilizando de dupla verificação via email e autenticações de tokens com uso de Redis. </p>
          <div class="float-end">
            <a href="https://github.com/yanpassaro/api-login" class="btn btn-sm"
               style="background-color: #070707; color: #F0F8FF; font-size: 12px;">Repositório</a>
          </div>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1 d-inline" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-3" style="width: 380px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=candi-web&theme=white&icon_color=070707&border_radius=0&text_color=070707&title_color=070707"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title"> Login api  </h6>
          <p class="card-text"> Construída com Angular, essa é um aplicativo front-end desenvolvido como um exemplo de consumidor do <a href="https://github.com/yanpassaro/candi" class="link-secondary">Candi</a>. </p>
          <div class="float-end">
            <a href="https://github.com/yanpassaro/app-candi" class="btn btn-sm me-2"
               style="background-color: #f0f0ff; font-size: 12px;">Site</a>
            <a href="https://github.com/yanpassaro/app-candi" class="btn btn-sm float-end"
               style="background-color: #070707; color: #f0f0ff; font-size: 12px;">Repositório</a>
          </div>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1 d-inline" style="background-color: #DD0031;">Angular</span>
        </div>
      </div>
        </div>
      </div>
</section>
