<section class="container-fluid p-5">
  <div class="text-black h3 pb-3">Projetos</div>
  <div class="row row-cols-auto">
    <div class="col">
      <div class="card" style="width: 400px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=candi&theme=dark&icon_color=F0F8FF"
          class="card-img-bottom" alt="...">
        <div class="card-body">
          <h4 class="card-title font-monospace">Candi API</h4>
          <p class="card-text">Aplicação desenvolvida como solução tecnológica para recrutadores</p>
          <a href="https://github.com/yanpassaro/candi" class="btn btn-sm float-end"
             style="background-color: #070707; color: #F0F8FF">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 400px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=api-login&theme=dark&&icon_color=F0F8FF"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title font-monospace">Login API</h4>
          <p class="card-text">Sistema de cadastro de usuário, com verificação via email.</p>
          <a href="https://github.com/yanpassaro/api-login" class="btn btn-sm float-end"
             style="background-color: #070707; color: #F0F8FF">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1" style="background-color: #6DB33F">Spring</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 400px;">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=yanpassaro&repo=app-candi&theme=dark&&icon_color=F0F8FF"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title font-monospace">Candi WEB</h4>
          <p class="card-text">Aplicativo web feito para consumir a api candi</p>
          <a href="https://github.com/yanpassaro/app-candi" class="btn btn-sm float-end"
             style="background-color: #070707; color: #F0F8FF">Repositório</a>
        </div>
        <div class="card-footer">
          <span class="card-text badge me-1" style="background-color: #DD0031">Angular</span>
        </div>
      </div>
    </div>
  </div>
</section>
